.content {
    background-color: #fefefe;
    margin: 3% 35%; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;

  }
  input {
    max-width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    width:100%
  }
  input.ng-valid {
    background-color:lightgoldenrodyellow
}
button:disabled{
background: lightgray
}
  /* Set a style for all buttons */
  button {
    max-width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px ;
    margin: 14px;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  .container{
      padding:20px;
      max-width: 100%;

  }
  .login-link{
      text-decoration: underline;
      cursor: pointer;
  }
  label{
    width: 100%;
  }
  .buttons{
      display: flex
  }
  button:disabled{
    background: gray
  }
  @media screen and (max-width:600px){
    .content {
      background-color: #fefefe;
      margin: 3% ; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      font-size: 11px;
  
    }
    button{
      width:50%
    }
    input,select{
      font-size: 11px;
    }
  }
  @media screen and (min-width:601px) and (max-width:900px){
    .content {
      background-color: #fefefe;
      margin: 3% 25%; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
  
    }
  }